.navbar	{
	display: flex;
	text-align: center;
	height: 100%;
	flex-direction: row;
	margin-right: 20px;
}

.navbar-item	{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 30px;
	color: inherit;
	text-decoration: inherit;
	text-transform: uppercase;
	border-bottom: 4px solid transparent;
	outline: none;
}

.navbar-item:hover	{
	border-bottom: 4px solid #FF5B6F;
}

.active	{
	border-bottom: 4px solid #FF5B6F;
}
