.header	{
	width: 100%;
	background-color: white;
	position: fixed;
	top: 0;
}

.header-top	{
	width: 100%;
	height: 80px;
	display: flex;
	box-shadow: 1px 1px 4px grey;
}

.header-top_logo	{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 20px;
	margin-left: 10px;
}

.header-logo{
	color: #FF5B6F;
	text-decoration: inherit;
	font-size: 40px;
}
.header-logo img	{
	height: 50px;
	width: auto;
}

.header-top_navbar	{
	display: flex;
	height: 100%;
	justify-content: right;
	color: #FF5B6F;
	flex: 1;
}

